numpy
scipy
matplotlib
pandas
sympy
Seaborn
statsmodels
scikit-learn
SQLAlchemy
pyzmq
jinja2
tornado
nltk
pattern
gensim
Scrapy
tweepy
bokeh
networkx
requests
blaze
regex
nose
psycopg2
textblob
torch
torchvision
tensorflow
torchtext
torchaudio
albumentations
spacy
seaborn
Pillow
opencv-python
timm
fastai
pytorch-lightning
transformers
vaderSentiment
monai
pytorch-tabnet
xgboost
deslib
deap
jupyterlab
streamlit
Sastrawi
pytorch-directml; python_version < '3.9' and sys_platform == 'win32'
